<!DOCTYPE html>
<html style="margin:0;padding:0;">
  <head>
    <title>Valeurs dans la base</title>
	<style>
	*{
	margin:0;
	padding:0;
	}
	
	body{
	font-family:Arial, sans-serif;
	}
	
	header{
	padding:20px;
	height:50px;
	background: lightblue;
	}
	
	h1{
	padding-left: 30px;
	font-family:Arial, sans-serif;
	}
	
	section{
	background: #e1e1e1;
	height:80vh;
	}
	
	ul{
	padding-top:20px;
	}
	
	p{
	text-transform: uppercase;
	font-weight:bold;
	padding-top: 20px;
	
	}
	
	#content{
	padding:0 20%;
	}
	</style>
  </head>
  <body>
	
    <div class="container">
	<header>
		<h1>FLASK</h1>
	</header>
	<section>
	   <div id="content">
      <p>Valeurs dans la base :</p>
      <ul>
        {% for n in my_list %}
        <li>{{n}}</li>
        {% endfor %}
      </ul>
	  </div>
	</section>
    </div>
  </body>
</html>